{% extends "emails/base.html.twig" %}

{% block content %}
    <p>Beste {{ user.firstName }},</p>
    <p>We hebben een verzoek ontvangen om het wachtwoord voor je [Naam van de Dienst]-account te resetten. Als je dit verzoek niet hebt gedaan,
        kun je deze e-mail negeren en blijft je wachtwoord ongewijzigd.</p>
    <p>Vul onderstaande code in de app in om uw wachtwoord aan te passen.</p>
    <table role="presentation" border="0" cellpadding="0" cellspacing="0" class="btn btn-primary">
        <tbody>
        <tr>
            <td align="left">
                <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                    <tbody>
                    <tr>
                        <td style="
    text-align:center;
    padding:12px 24px;
    font-size:18px;
    font-weight:bold;
    background-color:#f2f2f2;
    border-radius:4px;
    letter-spacing:2px;
">
                            {{ tokenCode }}
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        </tbody>
    </table>
{% endblock %}
